#art {
    display: table;
    border-spacing: 1px;
    background-color: black;
    border: 5px solid black;
}

.row {
  display: table-row;
}

.pixel {
    display: table-cell;
    background-color: white;
    width: 40px;
    height: 40px;
}

.pen {

    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid black;
}

#h1-header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0.3rem;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
