.color {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 3px;
    border: 2px solid black;
  }
  
  #color-palette {
    display: inline-block;
  }

  #button-random-color {
    background: #7FA3CB;
    background-image: -webkit-linear-gradient(top, #7FA3CB, #1E62D0);
    background-image: -moz-linear-gradient(top, #7FA3CB, #1E62D0);
    background-image: -ms-linear-gradient(top, #7FA3CB, #1E62D0);
    background-image: -o-linear-gradient(top, #7FA3CB, #1E62D0);
    background-image: -webkit-gradient(to bottom, #7FA3CB, #1E62D0);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 20px;
    margin-left: 0px;
}